# Data Science Tools and Ecosystem

## Author
A.A.Ibrahim

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables in markdown cells
- Demonstrate basic arithmetic expressions in Python
- Convert minutes to hours using Python code

Some of the commonly used languages used by Data Scientists include:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335